
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
allure-report/
allure-results/
playwright-report/
specs
playwright.config.ts
package-lock.json
package.json
.DS_Store
